In [2]:
import pandas as pd
returns = pd.read_csv('data/Portfolios_Formed_on_ME_monthly_EW.csv',header=0,index_col=0,parse_dates = True,na_values=-99.99) #header,index_col tells you where header and index columns are at

In [3]:
returns

,<= 0,Lo 30,Med 40,Hi 30,Lo 20,Qnt 2,Qnt 3,Qnt 4,Hi 20,Lo 10,Dec 2,Dec 3,Dec 4,Dec 5,Dec 6,Dec 7,Dec 8,Dec 9,Hi 10
192607,NaN,-0.43,1.52,2.68,-0.57,0.59,1.60,1.47,3.33,-1.45,0.29,-0.15,1.33,1.24,1.98,1.55,1.38,3.38,3.29
192608,NaN,3.90,3.04,2.09,3.84,3.59,3.71,1.61,2.33,5.12,2.59,4.03,3.15,2.72,4.72,1.60,1.63,0.98,3.70
192609,NaN,-1.08,-0.54,0.16,-0.48,-1.40,0.00,-0.50,-0.09,0.93,-1.87,-2.27,-0.53,0.07,-0.07,-1.64,0.64,-0.86,0.67
192610,NaN,-3.32,-3.52,-3.06,-3.29,-4.10,-2.89,-3.36,-2.95,-4.84,-1.77,-3.36,-4.83,-2.98,-2.80,-3.45,-3.27,-3.47,-2.43
192611,NaN,-0.46,3.82,3.09,-0.55,2.18,3.41,3.39,3.16,-0.78,-0.32,-0.29,4.65,3.24,3.57,3.82,2.95,3.61,2.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201808,NaN,3.47,4.04,2.87,3.09,5.05,3.90,3.54,2.49,2.41,5.07,5.30,4.70,3.02,5.01,3.50,3.58,2.65,2.34
201809,NaN,-2.24,-1.85,0.08,-2.04,-2.38,-2.48,-0.74,0.19,-1.68,-3.08,-3.22,-1.23,-2.65,-2.27,-1.31,-0.12,-0.51,0.87
201810,NaN,-10.76,-10.88,-7.63,-10.52,-11.74,-10.55,-9.45,-7.41,-10.02,-11.98,-11.89,-11.52,-11.58,-9.23,-10.74,-8.04,-8.28,-6.57
201811,NaN,-2.08,2.18,2.19,-2.78,1.69,1.46,2.62,2.49,-3.65,-0.23,1.23,2.30,1.74,1.11,3.54,1.63,2.45,2.53
201812,NaN,-14.28,-12.41,-9.76,-14.77,-12.44,-12.22,-11.34,-9.21,-15.31,-13.19,-11.94,-13.13,-12.73,-11.57,-11.87,-10.75,-9.54,-8.90

In [4]:
returns['Lo 20']

192607    -0.57
192608     3.84
192609    -0.48
192610    -3.29
192611    -0.55
          ...
201808     3.09
201809    -2.04
201810   -10.52
201811    -2.78
201812   -14.77
Name: Lo 20, Length: 1110, dtype: float64

In [5]:
mr = returns['Lo 20'].mean()

In [8]:
((1+mr/100)**12 -1 ) * 100

20.845882857125698

In [9]:
mv = returns['Lo 20'].std()

In [11]:
mv * (12)**0.5

33.67012751715781

In [14]:
mr1 = returns['Hi 20'].mean()

In [15]:
((1+mr1/100)**12 -1 ) * 100

11.927503809904639

In [17]:
mv1 = returns['Hi 20'].std()

In [19]:
mv1 * (12)**0.5

19.511604155631336

In [32]:
SmallCap = returns[['Lo 20']]

In [33]:
SmallCap

        Lo 20
192607  -0.57
192608   3.84
192609  -0.48
192610  -3.29
192611  -0.55
...       ...
201808   3.09
201809  -2.04
201810 -10.52
201811  -2.78
201812 -14.77

[1110 rows x 1 columns]

In [34]:
n_months = SmallCap.shape[0]
return_per_month = (SmallCap/100+1).prod() ** (1/n_months)
return_per_month = return_per_month - 1

In [70]:
SmallCap.shape[0]

1110

In [36]:
annual_return = (return_per_month + 1) **12 - 1

In [37]:
annual_return

Lo 20    0.151977
dtype: float64

In [42]:
BigCap = returns[['Hi 20']]

In [43]:
annual_return = (BigCap/100+1).prod() ** (12/n_months) -1
annual_return

Hi 20    0.09849
dtype: float64

In [40]:
SmallCap

        Lo 20
192607  -0.57
192608   3.84
192609  -0.48
192610  -3.29
192611  -0.55
...       ...
201808   3.09
201809  -2.04
201810 -10.52
201811  -2.78
201812 -14.77

[1110 rows x 1 columns]

In [63]:
BigCap

         Hi 20
1926-07   3.33
1926-08   2.33
1926-09  -0.09
1926-10  -2.95
1926-11   3.16
...        ...
2018-08   2.49
2018-09   0.19
2018-10  -7.41
2018-11   2.49
2018-12  -9.21

[1110 rows x 1 columns]

In [47]:
SmallCap.index = pd.to_datetime(SmallCap.index,format = '%Y%m')

In [49]:
SmallCap.index = SmallCap.index.to_period('M')

In [53]:
P_SC = SmallCap['1999':'2015']

In [57]:
n_months = P_SC.shape[0]
annual_return = (P_SC/100+1).prod() ** (12/n_months) -1
annual_return

Lo 20    0.114426
dtype: float64

In [59]:
P_SC.std() * (12)**0.5

Lo 20    22.889447
dtype: float64

In [65]:
BigCap.index = pd.to_datetime(BigCap.index,format = '%Y%m')

TypeError: Passing PeriodDtype data is invalid. Use `data.to_timestamp()` instead

In [66]:
BigCap.index

PeriodIndex(['1926-07', '1926-08', '1926-09', '1926-10', '1926-11', '1926-12',
             '1927-01', '1927-02', '1927-03', '1927-04',
             ...
             '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08',
             '2018-09', '2018-10', '2018-11', '2018-12'],
            dtype='period[M]', length=1110, freq='M')

In [68]:
P_BC = BigCap['1999':'2015']
n_months = P_BC.shape[0]
annual_return = (P_BC/100+1).prod() ** (12/n_months) -1
annual_return

Hi 20    0.062865
dtype: float64

In [69]:
P_BC.shape[0]

204

In [72]:
P_BC.std() *(12)**0.5

Hi 20    17.271332
dtype: float64

In [73]:
import edhec_risk_kit as erk

In [92]:
erk.drawdown(P_SC['Lo 20']/100)['Drawdown'].idxmin()

Period('2009-02', 'M')

In [89]:
P_SC = P_SC/100

In [90]:
P_BC = P_BC/100

In [96]:
erk.drawdown(P_BC['Hi 20'])['Drawdown'].idxmin()

Period('2009-02', 'M')

In [97]:
hfi = erk.get_hfi_returns()

In [98]:
hfi

,Convertible Arbitrage,CTA Global,Distressed Securities,Emerging Markets,Equity Market Neutral,Event Driven,Fixed Income Arbitrage,Global Macro,Long/Short Equity,Merger Arbitrage,Relative Value,Short Selling,Funds Of Funds
date,,,,,,,,,,,,,
1997-01,0.0119,0.0393,0.0178,0.0791,0.0189,0.0213,0.0191,0.0573,0.0281,0.0150,0.0180,-0.0166,0.0317
1997-02,0.0123,0.0298,0.0122,0.0525,0.0101,0.0084,0.0122,0.0175,-0.0006,0.0034,0.0118,0.0426,0.0106
1997-03,0.0078,-0.0021,-0.0012,-0.0120,0.0016,-0.0023,0.0109,-0.0119,-0.0084,0.0060,0.0010,0.0778,-0.0077
1997-04,0.0086,-0.0170,0.0030,0.0119,0.0119,-0.0005,0.0130,0.0172,0.0084,-0.0001,0.0122,-0.0129,0.0009
1997-05,0.0156,-0.0015,0.0233,0.0315,0.0189,0.0346,0.0118,0.0108,0.0394,0.0197,0.0173,-0.0737,0.0275
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07,0.0021,-0.0058,0.0093,0.0040,-0.0010,0.0055,0.0022,-0.0014,0.0067,-0.0021,0.0045,-0.0052,0.0018
2018-08,0.0024,0.0166,0.0002,-0.0277,0.0004,0.0011,0.0017,-0.0007,0.0035,0.0050,-0.0002,-0.0214,0.0015
2018-09,0.0034,-0.0054,0.0050,-0.0110,-0.0016,0.0032,0.0036,0.0006,-0.0023,0.0028,0.0018,0.0036,-0.0022
2018-10,-0.0073,-0.0314,-0.0158,-0.0315,-0.0129,-0.0257,-0.0023,-0.0096,-0.0402,-0.0080,-0.0109,0.0237,-0.0269
2018-11,-0.0068,-0.0053,-0.0193,0.0120,-0.0211,-0.0034,-0.0067,-0.0087,-0.0044,0.0119,-0.0063,-0.0021,-0.0071

In [99]:
p_hfi = hfi['2009':'2018']

In [100]:
p_hfi

,Convertible Arbitrage,CTA Global,Distressed Securities,Emerging Markets,Equity Market Neutral,Event Driven,Fixed Income Arbitrage,Global Macro,Long/Short Equity,Merger Arbitrage,Relative Value,Short Selling,Funds Of Funds
date,,,,,,,,,,,,,
2009-01,0.0491,-0.0016,0.0082,-0.0112,0.0079,0.0132,0.0112,0.0029,-0.0017,0.0056,0.0100,0.0282,0.0060
2009-02,0.0164,-0.0031,-0.0122,-0.0133,-0.0046,-0.0091,0.0065,-0.0055,-0.0161,0.0006,-0.0016,0.0328,-0.0037
2009-03,0.0235,-0.0180,0.0022,0.0350,0.0021,0.0117,0.0057,0.0048,0.0188,0.0125,0.0100,-0.0462,0.0008
2009-04,0.0500,-0.0140,0.0387,0.0663,-0.0012,0.0337,0.0221,0.0127,0.0375,0.0081,0.0342,-0.0820,0.0092
2009-05,0.0578,0.0213,0.0504,0.0884,0.0146,0.0442,0.0365,0.0348,0.0516,0.0107,0.0392,0.0008,0.0312
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07,0.0021,-0.0058,0.0093,0.0040,-0.0010,0.0055,0.0022,-0.0014,0.0067,-0.0021,0.0045,-0.0052,0.0018
2018-08,0.0024,0.0166,0.0002,-0.0277,0.0004,0.0011,0.0017,-0.0007,0.0035,0.0050,-0.0002,-0.0214,0.0015
2018-09,0.0034,-0.0054,0.0050,-0.0110,-0.0016,0.0032,0.0036,0.0006,-0.0023,0.0028,0.0018,0.0036,-0.0022
2018-10,-0.0073,-0.0314,-0.0158,-0.0315,-0.0129,-0.0257,-0.0023,-0.0096,-0.0402,-0.0080,-0.0109,0.0237,-0.0269
2018-11,-0.0068,-0.0053,-0.0193,0.0120,-0.0211,-0.0034,-0.0067,-0.0087,-0.0044,0.0119,-0.0063,-0.0021,-0.0071

In [106]:
erk.skewness(p_hfi).idxmin()

'Equity Market Neutral'

In [107]:
p1_hfi = hfi['2000':]

In [109]:
erk.kurtosis(p1_hfi).idxmax()

'Fixed Income Arbitrage'